.border-shadow{
  position: relative;
  border-radius: 25px;    
  padding: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .5);
  margin: 10px;
}

.gradient {
  background: #D6C497; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#D6C497, #D6C497, #DDBC6F); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#D6C497, #D6CBAF, #DDBC6F); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#D6C497, #D6C497, #DDBC6F); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#D6C497, #D6C497, #DDBC6F); /* Standard syntax */
}

.vr {
  width:15px;
  display: inline-block;
  border: 0px;
}

.bookTable {
  /*display: inline-block;*/
  margin: 15px;
  border: 2px solid rgba(10, 10, 10, 0.3);
  width: 550px;
  height: 150px;
}

.bookBackground {
  border-radius: 5px;
  background: #DDBC6F;
  padding: 10px;
  height: 150px; 
}

.bookTitleRow {
  background-color: #DDBC6F;
}

.arrowButton {
  border: 0px;
  background-color: transparent;
}

.bookTable2 {
  display: inline-block;
  margin: 15px;
  border: 2px solid rgba(10, 10, 10, 0.3);
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background: radial-gradient(rgb(203, 196, 180), rgb(203, 196, 180), #DDBC6F);
}

.bookDiv {
  position: relative;
  height: 90%;
  max-width: 75%;
  top: 5%;
  border: 4px solid rgba(10, 10, 10, 0.583);
  cursor: pointer;    
}

.popover
{
  min-width: 400px;
  height: auto;
}
.popover-title{
  background: #ffff99;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.hrColor {
  border: none;
  height: 6px;
  /* Set the hr color */
  color: #DDBC6F; /* old IE */
  background-color: #DDBC6F; /* Modern Browsers */
}

.dropDown {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropDownState {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 225px;
}

.textBox {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inLine{  
  display: inline-block;  
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #CCC7B3;
  height: 155px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: medium;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.submitButton{
  cursor: pointer;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton:hover{
  opacity: .7;
}
